In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Datasets/bank-customer-churn-prediction.csv')

In [6]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.info

<bound method DataFrame.info of       customer_id  credit_score  country  gender  age  tenure    balance  \
0        15634602           619   France  Female   42       2       0.00
1        15647311           608    Spain  Female   41       1   83807.86
2        15619304           502   France  Female   42       8  159660.80
3        15701354           699   France  Female   39       1       0.00
4        15737888           850    Spain  Female   43       2  125510.82
...           ...           ...      ...     ...  ...     ...        ...
9995     15606229           771   France    Male   39       5       0.00
9996     15569892           516   France    Male   35      10   57369.61
9997     15584532           709   France  Female   36       7       0.00
9998     15682355           772  Germany    Male   42       3   75075.31
9999     15628319           792   France  Female   28       4  130142.79

      products_number  credit_card  active_member  estimated_salary  churn
0                   1            1              1         101348.88      1
1                   1            0              1         112542.58      0
2                   3            1              0         113931.57      1
3                   2            0              0          93826.63      0
4                   1            1              1          79084.10      0
...               ...          ...            ...               ...    ...
9995                2            1              0          96270.64      0
9996                1            1              1         101699.77      0
9997                1            0              1          42085.58      1
9998                2            1              0          92888.52      1
9999                1            1              0          38190.78      0

[10000 rows x 12 columns]>

In [8]:
# low = 1%     100 rows
# medium = 5%  500 rows
# high = 10%   1000 rows

In [9]:
# Point anomaly generation 30%
# Contextual anomaly generation 70%

In [ ]:
# Point anomaly generation
# IQR
# Z-Scores
# Boxplots
# Histogram
#